<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{range $sg := .}}
    <li>{{$sg.Name}} - {{$sg.Motto}}</li>
    {{end}}
</ul>
</body>
</html>