<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Value : {{uc .}}

ToUpper: {{.| tt | lw }}

ToLower: {{.| tt | lw | uc }}

</body>
</html>